<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link" routerLinkActive="active" routerLink="followers" 
      [queryParams]="{order:'newest',page:1}"
      id="folowers-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Followers</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" routerLink="post" routerLinkActive="active" id="post-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Post</button>
    </li>
    
  </ul>
